@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;900&display=swap');

$background: #1D1D1D;
$color: #ffffff;

* {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    background-color: $background;
}

nav {
    img {
        margin: 2rem;
        width: 5rem;
    }
}

main {
    section {
        display: grid;
	    place-items: center;
        img {
            width: 30rem;
            max-width: 80%;
        }
    }
    ul {
        text-align: center;
        li {
            display: inline-grid;
            margin-top: 5rem;
            grid-column-gap: 10rem;
            button {
                width: fit-content;
                padding: 1rem;
                height:80px;
                color: $color;
                padding: 10px 20px;
                font-size: 1.5rem;
                font-weight: bold;
                cursor: pointer;
                border: none;
                background-color: #2F2F2F;

                &.correct {
                    background-color: #00620A;
                }

                &.wrong {
                    background-color: #700000;
                }
            }
        }
    }
}

footer {
    display: grid;
	place-items: center;
    div {
        font: bold 2rem 'Inter', sans-serif;
        color: rgba(256, 256, 256, 50%);
        margin-top: 3rem;
    }
}